* {
    box-sizing: border-box;
    font-family: "Jacquard 12 Charted", system-ui;
}

body {
    margin: 0;
}

#wrapper {
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px 40px 300px 100px 40px;
    gap: 10px;
}

header {
    background-color: red;
    grid-column: span 2;
}

nav {
    background-color: blue;
    grid-column: span 2;
}

aside {
    background-color: green;
    grid-row: span 2;
}

main {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

footer {
    background-color: pink;
    grid-column: span 2;
}
